<!DOCTYPE html>
<html>
<head>
    <style>
        .floatright img {
            width: 660px; /* Default width */
        }
        @media (max-width: 1580px) {
            .floatright img {
                width: 550px;
            }
        }
        @media (max-width: 1480px) {
            .floatright img {
                width: 500px;
            }
        }
        @media (max-width: 1400px) {
            .floatright img {
                width: 550px;
            }
        }
        @media (max-width: 960px) {
            .floatright img {
                width: 500px;
            }
        }
        @media (max-width: 800px) {
            .floatright img {
                width: 100%;
            }
        }
    </style>
</head>
<body>
    <h2>Wikis for agile companies from Hallo Welt! GmbH</h2>
        <div class="floatright">
            <img src="{{srcMainPic}}" alt="A stylized view of the BlueSpice user interface." decoding="async" style="margin-left: 1rem;">
        </div>
        <p>We are <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://hallowelt.com/en/">Hallo Welt! GmbH</a>, the company behind <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com">BlueSpice</a>, the open-source enterprise wiki software that is distributed in more than 160 countries with over 1,000,000 downloads. With BlueSpice, you can find all your important knowledge in one place. AI-supported and GDPR-compliant.</p>
        <p>We are firmly committed to open source and are one of the world's leading supporters of MediaWiki. Our vision was and is to create a future in which people openly share experiences and expand their knowledge. This way, we contribute to a more productive, efficient and supportive collaboration. We believe that wikis are the best tools to do so.</p>
        <p>Building on this idea, Hallo Welt! was founded in 2007. Since 2010, we develop the collaborative knowledge platform BlueSpice based on the open source software MediaWiki. It enables employees to share their knowledge within organizations and companies. BlueSpice is available in the <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com/products/">editions free, pro and farm</a> and as a <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com/products/technology/cloud-hosting/">cloud</a> or <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com/products/technology/on-premises/">on-premise</a> solution.</p>
    <h2>Our Team</h2>
        <p>Thanks to our global team of currently over 40 experts, Hallo Welt! is ideally positioned to continue to grow and take on new challenges.</p>
        <p>Together, we ensure that the corporate wikis of customers from all industries and on three continents are optimally planned, implemented and supported.</p>
    <h2>Our Portfolio</h2>
    <h3>Service & Support</h3>
        <ul>
            <li>
                <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com/services/installation-updates/">
                    Installation, updates
                </a>, and 
                <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com/services/migration/">
                    migrations
                </a>
            </li>
            <li>
                <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com/services/professional-support/">
                    Professional support
                </a>
            </li>
            <li>
                Customizing, templating, programming, skinning
            </li>
            <li>
                Subscriptions and hosting
            </li>
            <li>
                <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com/services/consulting/">
                    Consulting
                </a>
            </li>
        </ul>
    <h3>Trainings & Workshops</h3>
        <ul>
            <li>
                <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com/services/trainings-workshops/user-training/">
                    User Training
                </a>
            </li>
            <li>
                <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com/services/trainings-workshops/admin-training/">
                    Admin Training
                </a>
            </li>
            <li>
                <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com/services/trainings-workshops/semantic-training/">
                    Semantic Training
                </a>
            </li>
            <li>
                <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com/services/trainings-workshops/individual-workshops/">
                    Individual workshops
                </a>
            </li>
        </ul>
    <p><br></p>

    <div class="row">
        <div class="col-md-4">
            <a target="_blank" rel="nofollow noreferrer noopener" href="mailto:sales@hallowelt.com">
                <img src="{{srcFigurePic}}" alt="Vector figure of a BlueSpice User" style="float: left; width: 90px; height: auto; border: none; margin-right: 1.2rem;">
            </a>
            <p><b>You've got questions?</b><br></p>
            <p>
                BlueSpice Sales Team<br>
                <a class="external text" target="_blank" rel="nofollow noreferrer noopener" href="mailto:sales@hallowelt.com">
                    sales@hallowelt.com
                </a><br>
            </p>
            <p>+49 (0)941 660 800</p>
        </div>
        <div class="col-md-4">
            <p><b>Lunchtime Talks</b></p>
            <p>Get live impressions<br>of BlueSpice.</p>
            <a class="btn" role="button" style="width:210px;background-color:#405588;color:#ffffff;font-size:14px;font-weight:600;line-height:18px;letter-spacing:0.09em;border-radius:3px;" href="https://bluespice.com/services/learning/webinars/" class="btn" >
                <b>Lunchtime Talks</b>
            </a>
        </div>
        <div class="col-md-4">
            <p><b>Helpdesk</b></p>
            <p>Usage tips, orientation<br>and help.</p>
            <a class="btn" role="button" style="width:210px;background-color:#405588;color:#ffffff;font-size:14px;font-weight:600;line-height:18px;letter-spacing:0.09em;border-radius:3px;" href="https://en.wiki.bluespice.com/wiki/Main_Page">
                <b>Go to helpdesk</b>
            </a>
        </div>
    </div>
</body>
</html>
