<!DOCTYPE html>
<html>
<head>
    <style>
        .floatright img {
            width: 660px; /* Default width */
        }
        @media (max-width: 1580px) {
            .floatright img {
                width: 550px;
            }
        }
        @media (max-width: 1480px) {
            .floatright img {
                width: 500px;
            }
        }
        @media (max-width: 1400px) {
            .floatright img {
                width: 550px;
            }
        }
        @media (max-width: 960px) {
            .floatright img {
                width: 500px;
            }
        }
        @media (max-width: 800px) {
            .floatright img {
                width: 100%;
            }
        }
    </style>
</head>
<body>
    <h2>Wikis für agile Unternehmen von der Hallo Welt! GmbH</h2>
        <div class="floatright">
            <img src="{{srcMainPic}}" alt="Stilisierte Ansicht der BlueSpice Benutzeroberfläche." decoding="async" style="margin-left: 1rem;">
        </div>
        <p>Wir sind die <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://hallowelt.com/">Hallo Welt! GmbH</a>, das Unternehmen hinter <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com/de/">BlueSpice</a>, der quelloffenen Enterprise-Wiki-Software, die mit über 1.000.000 Downloads in mehr als 160 Ländern verbreitet ist. Mit BlueSpice finden Sie alle wichtigen Infos an einem zentralen Ort. KI-unterstützt und DSGVO-konform.</p>
        <p>Wir setzen konsequent auf Open Source und gehören zu den weltweit führenden Unterstützern von MediaWiki. Unsere Vision war und ist es, eine Zukunft zu schaffen, in der Menschen offen Erfahrungen austauschen und ihr Wissen erweitern. So tragen wir zu einer produktiveren, effizienteren und kollegialeren Zusammenarbeit bei. Wir glauben, dass Wikis die besten Tools dafür sind.</p>
        <p>Aufbauend auf dieser Grundidee wurde 2007 die Hallo Welt! GmbH 2007 gegründet. Seit 2010 entwickeln wir auf Basis der Open Source Software MediaWiki die kollaborative Wissensplattform BlueSpice. Sie ermöglicht es Mitarbeitern, ihr Wissen innerhalb von Organisationen und Unternehmen zu teilen. BlueSpice ist in den <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com/de/produkte/">Editionen free, pro und farm</a> sowie als <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com/de/produkte/technologie/cloud-hosting/">Cloud</a>- oder <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com/de/produkte/technologie/on-premises/">On-Premise</a>-Lösung verfügbar.</p>
    <h2>Unser Team</h2>
        <p>Durch unser globales Team aus aktuell über 40 Expert:innen ist die Hallo Welt! bestens aufgestellt, um weiter zu wachsen und sich immer neuen Herausforderungen zu widmen. </p>
        <p>Gemeinsam stellen wir sicher, dass die Unternehmenswikis von Kunden aus allen Branchen und in drei Kontinenten optimal geplant, umgesetzt und betreut werden. </p>
    <h2>Unsere Leistungen</h2>
    <h3>Service & Support</h3>
        <ul>
            <li>
                <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com/de/services/installation-updates/">
                    Installation, Updates
                </a> und 
                <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com/de/services/migration/">
                    Migrationen
                </a>
            </li>
            <li>
                <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com/de/services/professioneller-support/">
                    Professioneller Support
                </a>
            </li>
            <li>Customizing, Templating, Skinning und Programmierung</li>
            <li>Subskriptionen und Hosting</li>
            <li>
                <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com/de/services/consulting/">
                    Consulting
                </a>
            </li>
        </ul>
    <h3>Trainings & Workshops</h3>
        <ul>
            <li>
                <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com/de/services/trainings-workshops/user-training/">
                    User Training
                </a>
            </li>
            <li>
                <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com/de/services/trainings-workshops/admin-training/">
                    Admin Training
                </a>
            </li>
            <li>
                <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com/de/services/trainings-workshops/semantic-training/">
                    Semantic Training
                </a>
            </li>
            <li>
                <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://bluespice.com/de/services/trainings-workshops/individuelle-workshops/">
                    Individuelle Workshops
                </a>
            </li>
        </ul>
    <p><br></p>

    <div class="row">
        <div class="col-md-4">
            <a target="_blank" rel="nofollow noreferrer noopener" href="mailto:sales@hallowelt.com">
                <img src="{{srcFigurePic}}" alt="Vector figure of a BlueSpice User" style="float: left; width: 90px; height: auto; border: none; margin-right: 1.2rem;">
            </a>
            <p><b>Sie haben Fragen?</b><br></p>
            <p>
                BlueSpice Sales Team<br>
                <a class="external text" target="_blank" rel="nofollow noreferrer noopener" href="mailto:sales@hallowelt.com">
                    sales@hallowelt.com
                </a><br>
            </p>
            <p>+49 (0)941 660 800</p>
        </div>
        <div class="col-md-4">
            <p><b>Lunchtime Talks</b></p>
            <p>Erhalten Sie Live-Einblicke<br>in BlueSpice.</p>
            <a class="btn" role="button" style="width:210px;background-color:#405588;color:#ffffff;font-size:14px;font-weight:600;line-height:18px;letter-spacing:0.09em;border-radius:3px;" href="https://bluespice.com/de/services/selbst-lernen/webinare/">
                <b>Lunchtime Talks</b>
            </a>
        </div>
        <div class="col-md-4">
            <p><b>Helpdesk</b></p>
            <p>Anwendungstipps, Orientierung<br>und Hilfe.</p>
            <a class="btn" role="button" style="width:210px;background-color:#405588;color:#ffffff;font-size:14px;font-weight:600;line-height:18px;letter-spacing:0.09em;border-radius:3px;" href="https://de.wiki.bluespice.com/wiki/Hauptseite">
                <b>Helpdesk öffnen</b>
            </a>
        </div>
    </div>
<body>
</html>
